Checks: >
  -*,
  readability-magic-numbers,
  readability-identifier-naming
CheckOptions:
  readability-identifier-naming.ConstantCase: UPPER_CASE
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
WarningsAsErrors: '*'